@font-face {
  font-family: "Apple Color Emoji";
  src: url(../Fonts/AppleColorEmoji.ttf);
}
@font-face {
  font-family: "Noto Color Emoji";
  src: url(../Fonts/NotoColorEmoji-Regular.woff2);
}
@font-face {
  font-family: "One UI Emoji";
  src: url(../Fonts/OneUIEmoji.woff2);
}
@font-face {
  font-family: "Segoe Ui Emoji";
  src: url(../Fonts/SegoeUIEmoji.woff2);
}