@font-face {
  font-family: "Apple Color Emoji";
  src: url(../AppleColorEmoji.ttf);
}
@font-face {
  font-family: "Noto Color Emoji";
  src: url(../NotoColorEmoji-Regular.woff2);
}
@font-face {
  font-family: "One UI Emoji";
  src: url(../OneUIEmoji.woff2);
}
@font-face {
  font-family: "Segoe Ui Emoji";
  src: url(../SegoeUIEmoji.woff2);
}